input[type="text"], input[type="email"] {
  font-size: 1.6rem;
  padding: 2px;
  font-family: 'Roboto Slab', serif;
  padding: 6px 10px;
  border: 2px solid $light;

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;    
  
  &:focus {
    border-color: $dark;
  }

  @media (max-width: 699px) {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
}

input[type="submit"] {
  font-size: 1.6rem;
  padding: 2px;
  font-family: 'Roboto Slab', serif;
  padding: 5px 10px;
  border: 2px solid $primary;
  background-color: $primary;
  color: #fff;
  cursor: pointer;
  margin-left: 6px;

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;    
    
  &:hover {
    background-color: $dark;
    border-color: $dark;
  }

  @media (max-width: 699px) {
    display: block;
    margin-bottom: 10px;
    margin-left: 0;
    width: 100%;
  }  
}