// Base Colors
$dark: #454545; 
$medium: #5e5e5e;
$light: #c7c7c7;

$primary: #15c28f;
// $primary: #de4242;

// Typography
$font-weight-normal: 300;
$font-weight-medium: 400;
$font-weight-bold: 600;
