!!! 5
%html(lang="en" itemscope itemtype="http://schema.org/Article")
  %head
    %meta(charset="UTF-8")
    %title
      {{ title|ucfirst }}

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" }
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")

    %meta{ name: "description", content: "Be a better freelance web designer or developer." }

    %meta{ property: "twitter:card", content: "summary" }
    %meta{ property: "twitter:site", content: "@twanlass" }
    %meta{ property: "twitter:title", content: "{{ title|ucfirst }}" }
    %meta{ property: "twitter:description", content: "{{ meta_description }}" }
    %meta{ property: "twitter:image", content: "{{ _site_url }}{{ theme:img src='favicon.png' }}" }
    %meta{ property: "twitter:url", content: "{{ _site_url }}{{ current_url }}" }

    %meta{ property: "og:title", content: "{{ title|ucfirst }}" }
    %meta{ property: "og:url", content: "{{ _site_url }}{{ current_url }}" }
    %meta{ property: "og:type", content: "article" } 
    %meta{ property: "og:image", content: "{{ _site_url }}{{ theme:img src='favicon.png' }}" }
    %meta{ property: "og:description", content: "Be a better freelance web designer or developer." }
    %meta{ property: "og:site_name", content: "Freelancer Playbook" }
    %meta{ property:  "fb:page_id", content: "1561585910751657" }

    %meta{ itemprop: "name", content: "{{ title|ucfirst }}" }    
    %meta{ itemprop: "description", content: "{{  }}" }    
    %meta{ itemprop: "image", content: "{{ _site_url }}{{ theme:img src='favicon.png' }}" }    
 
    {{ if is_dev }}
      %script(src="http://localhost:35729/livereload.js")
    {{ /if }}

    {{ theme:css src="main" tag="true" }}
    %link(href="http://fonts.googleapis.com/css?family=Raleway:400,300,600|Roboto+Slab:300,400" rel="stylesheet" type="text/css")
    
    %link(rel="alternate" type="application/rss+xml" href="http://freelancerplaybook.com/feed" title="Freelancer Playbook")
    %link(rel="shortcut icon" type="image/png" href="{{ theme:img src='favicon.png' }}")
    %link(rel="apple-itouch-icon" type="image/png" href="{{ theme:img src='favicon.png' }}")
  %body
    {{ theme:partial src="header" }}
    {{ layout_content }}
    {{ theme:partial src="footer" }}

    %script( type="text/javascript" src="{{ theme:js src='vendor' }}" data-no-instant)
    %script( type="text/javascript" data-no-instant)
      InstantClick.init();    

    %script( type="text/javascript" data-no-instant)  
      if ('addEventListener' in document) {
          document.addEventListener('DOMContentLoaded', function() {
              FastClick.attach(document.body);
          }, false);
      }

    %script( type="text/javascript" )
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-48350250-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
