.play {
    background-color: $primary;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.6rem;
    margin-bottom: 20px;
    padding: 4px 8px;
    text-transform: uppercase;  
}