footer {
  font-size: 1.6rem;
  font-weight: $font-weight-bold;
  padding: 50px 0;
  text-align: center;
  background-color: #f9f9f9;

  @media (max-width: 699px) {
    margin: 0;
    padding: 15px;
  }

  a {
    font-weight: $font-weight-bold;
    margin-right: 20px;
  }
}