/* line 5, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/reset */
html, button, input, select, textarea {
  color: #454545; }

/* line 9, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/reset */
ul, ol {
  margin: 0;
  padding: 0; }

/* line 14, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/reset */
li {
  list-style: none;
  position: relative; }
  /* line 17, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/reset */
  li:before {
    content: "•";
    font-size: 4rem;
    position: absolute;
    left: -26px;
    top: -2px; }

/* line 26, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/reset */
html {
  box-sizing: border-box;
  height: 100%;
  width: 100%; }

/* line 32, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/reset */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative; }

/* line 39, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/reset */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 43, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/reset */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 48, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/reset */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 53, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/reset */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* line 62, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/reset */
img {
  vertical-align: middle;
  max-width: 100%;
  border: 1px solid #ccc; }

/* line 68, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/reset */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* line 74, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/reset */
textarea {
  resize: vertical; }

/* line 78, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/reset */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  padding: 0.2em 0; }

/* line 1, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/helpers */
.pull-right {
  float: right; }

/* line 5, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/helpers */
.pull-left {
  float: left; }

/* line 9, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/helpers */
.clearfix, .pagination, header, header ul {
  *zoom: 1; }
  /* line 11, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/helpers */
  .clearfix:before, .pagination:before, header:before, header ul:before, .clearfix:after, .pagination:after, header:after, header ul:after {
    content: " ";
    display: table; }
  /* line 15, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/helpers */
  .clearfix:after, .pagination:after, header:after, header ul:after {
    clear: both; }

/* line 1, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/typography */
html {
  font-size: 62.5%; }

/* line 5, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/typography */
body {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 3.4rem; }

/* line 12, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/typography */
h1, h2, h3, h4, h5 {
  color: #454545;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; }

/* line 18, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/typography */
h1 {
  font-size: 5.2rem;
  line-height: 5.2rem; }
  @media (max-width: 699px) {
    h1 {
      font-size: 3.2rem;
      line-height: 3.2rem; } }

/* line 28, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/typography */
h2 {
  line-height: 4rem; }
  @media (max-width: 699px) {
    h2 {
      font-size: 2.4rem;
      line-height: 3.4rem; } }

/* line 37, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/typography */
p {
  font-family: 'Roboto Slab', serif;
  text-align: justify; }

/* line 42, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/typography */
b, strong {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: #454545; }

/* line 48, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/typography */
main {
  font-size: 2.2rem;
  color: #5e5e5e; }
  @media (max-width: 699px) {
    main {
      font-size: 1.6rem;
      line-height: 2.2rem; } }

/* line 58, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/typography */
a {
  border-bottom: 2px solid #d9d9d9;
  color: #454545;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  /* line 68, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/typography */
  a:hover {
    border-color: rgba(0, 0, 0, 0.35); }

/* line 1, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/form */
input[type="text"], input[type="email"] {
  font-size: 1.6rem;
  padding: 2px;
  font-family: 'Roboto Slab', serif;
  padding: 6px 10px;
  border: 2px solid #d9d9d9;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  /* line 14, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/form */
  input[type="text"]:focus, input[type="email"]:focus {
    border-color: #454545; }
  @media (max-width: 699px) {
    input[type="text"], input[type="email"] {
      display: block;
      margin-bottom: 10px;
      width: 100%; } }

/* line 25, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/form */
input[type="submit"], .btn {
  background-image: none;
  font-size: 1.6rem;
  padding: 2px;
  font-family: 'Roboto Slab', serif;
  padding: 5px 10px;
  border: 2px solid #15c28f;
  background-color: #15c28f;
  color: #fff;
  cursor: pointer;
  margin-left: 6px;
  text-transform: capitalize;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  /* line 44, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/modules/form */
  input[type="submit"]:hover, .btn:hover {
    background-color: #454545;
    border-color: #454545; }
  @media (max-width: 699px) {
    input[type="submit"], .btn {
      display: block;
      margin-bottom: 10px;
      margin-left: 0;
      width: 100%;
      text-align: center; } }

/* line 1, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/partials/opt-in */
.opt-in {
  background-color: #f9f9f9;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 23px;
  text-align: center;
  margin: 80px 0;
  padding: 20px 0 30px;
  border-radius: 3px; }
  @media (max-width: 699px) {
    .opt-in {
      margin: 30px 0;
      padding: 20px; } }
  /* line 16, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/partials/opt-in */
  .opt-in h2 {
    margin: 0; }
    @media (max-width: 699px) {
      .opt-in h2 {
        margin-bottom: 10px;
        display: block; } }
  /* line 25, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/partials/opt-in */
  .opt-in strong {
    margin-bottom: 8px;
    display: block; }
    @media (max-width: 699px) {
      .opt-in strong {
        margin-bottom: 10px; } }

/* line 1, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/partials/social */
.social {
  border-bottom: 2px solid #d9d9d9;
  display: block;
  margin: 30px 0;
  padding-bottom: 40px; }
  /* line 7, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/partials/social */
  .social a {
    border: 2px solid #d9d9d9;
    font-size: 1.4rem;
    font-weight: 600;
    color: #454545;
    padding: 10px 18px;
    margin-right: 10px;
    border-radius: 3px; }
  /* line 16, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/partials/social */
  .social .facebook:hover {
    color: #4872c9;
    border-color: #4872c9; }
  /* line 21, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/partials/social */
  .social .twitter:hover {
    color: #1f98e4;
    border-color: #1f98e4; }
  /* line 26, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/partials/social */
  .social .gplus:hover {
    color: #de4242;
    border-color: #de4242; }

/* line 1, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/partials/play */
.play {
  border-radius: 3px;
  border: 2px solid #919191;
  color: #919191;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.6rem;
  margin-bottom: 20px;
  padding: 4px 8px;
  text-transform: uppercase; }

/* line 1, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/partials/comments */
.comments {
  width: 100%;
  background-color: #f9f9f9;
  padding: 30px 0 0; }

/* line 1, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/partials/pagination */
.pagination {
  display: block;
  padding: 0 0 20px; }

/* line 1, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/views/base */
main {
  margin: 0 auto;
  width: 700px; }
  @media (max-width: 699px) {
    main {
      width: 100%;
      padding: 0 20px; } }

/* line 2, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/views/post */
.post ol, .post ul, .post-preview ol, .post-preview ul {
  margin: 24px; }
/* line 6, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/views/post */
.post li, .post-preview li {
  margin-bottom: 16px; }
/* line 10, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/views/post */
.post blockquote, .post-preview blockquote {
  border-bottom: 2px solid #d9d9d9;
  border-top: 2px solid #d9d9d9;
  margin: 60px 0;
  padding: 60px 0;
  text-align: center; }
  /* line 16, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/views/post */
  .post blockquote p, .post-preview blockquote p {
    margin: 0;
    padding: 0;
    text-align: center; }
/* line 23, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/views/post */
.post article, .post-preview article {
  margin-bottom: 100px;
  position: relative; }
  @media (max-width: 699px) {
    .post article, .post-preview article {
      margin-bottom: 40px; } }
/* line 32, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/views/post */
.post h2, .post h2 a, .post-preview h2, .post-preview h2 a {
  font-weight: 600;
  text-transform: capitalize;
  margin: 50px 0 0; }
/* line 38, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/views/post */
.post .title, .post .title a, .post-preview .title, .post-preview .title a {
  border: 0;
  font-weight: 600;
  line-height: 6.2rem;
  margin: 0;
  text-transform: capitalize; }
/* line 46, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/views/post */
.post #disqus_thread, .post-preview #disqus_thread {
  margin-bottom: 60px; }
  @media (max-width: 699px) {
    .post #disqus_thread, .post-preview #disqus_thread {
      margin: 0; } }

/* line 59, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/views/post */
.post-preview {
  border-bottom: 2px solid #d9d9d9;
  margin-bottom: 60px;
  padding-bottom: 40px; }

/* line 1, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/views/header */
header {
  margin: 0 0 60px;
  padding: 20px 30px;
  background-color: #f9f9f9; }
  @media (max-width: 699px) {
    header {
      margin-bottom: 20px; } }
  /* line 11, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/views/header */
  header h1 {
    float: left;
    font-size: 2.2rem;
    line-height: 2.5rem;
    display: inline-block;
    margin: 0; }
    /* line 18, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/views/header */
    header h1 a {
      border-bottom: 0; }
      @media (max-width: 699px) {
        header h1 a {
          text-align: center;
          display: block; } }
      /* line 26, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/views/header */
      header h1 a:hover {
        border-bottom: 0; }
  /* line 31, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/views/header */
  header ul {
    display: inline-block;
    float: right;
    list-style: none;
    margin: 6px 0 8px; }
    @media (max-width: 699px) {
      header ul {
        margin: 22px 0 0;
        float: left; } }
  /* line 43, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/views/header */
  header li {
    float: left;
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin: 0 20px 0 0;
    text-transform: capitalize; }
    /* line 49, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/views/header */
    header li:before {
      content: ""; }
    /* line 52, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/views/header */
    header li:last-child {
      margin-right: 0; }
    /* line 55, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/views/header */
    header li a {
      font-weight: 600; }

/* line 1, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/views/footer */
footer {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 50px 0;
  text-align: center;
  background-color: #f9f9f9; }
  @media (max-width: 699px) {
    footer {
      margin: 0;
      padding: 15px; } }
  /* line 13, /Users/Tyler/Dropbox/Repos/freelancer-playbook/_build/css/views/footer */
  footer a {
    font-weight: 600; }
